@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br/>
<h2>Personel Listesi</h2>
<br/>
<table class="table table-bordered">
    <tr>
        <th>Personel ID</th>
        <th>Personel Adı</th>
        <th>Personel Soyadı</th>
        <th>Personel Görsel</th>
        <th>Personel Departman</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
    {
    <tr>
        <td>@item.PersonelID</td>
        <td>@item.PersonelAd</td>
        <td>@item.PersonelSoyad</td>
        <td>@item.PersonelGorsel</td>
        <td>@item.DepartmanID</td>
        <td><a href="/Personel/PersonelSil/@item.PersonelID" class="btn btn-danger">Sil</a></td>
        <td><a href="/Personel/PersonelGetir/@item.PersonelID" class="btn btn-warning">Güncelle</a></td>
    </tr>
    }
</table>
<button class="btn btn-info">Yeni Personel Ekle</button>