@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Personel
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br/>
<h2>Personel Güncelle</h2>
<br/>
@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post))
{
    @Html.Label("Personel Adı")
    @Html.TextBoxFor(x=>x.PersonelAd,new { @class = "form-control" })
    <br/>
    @Html.Label("Personel Soyad")
    @Html.TextBoxFor(x=>x.PersonelSoyad,new { @class = "form-control" })
    <br/>
    @Html.Label("Personel Görsel")
    @Html.TextBoxFor(x=>x.PersonelGorsel,new { @class = "form-control" })
    <br/>
    @Html.Label("Personel Departman")
    @Html.TextBoxFor(x=>x.DepartmanID,new { @class = "form-control" })
    @Html.HiddenFor(x=>x.PersonelID)
    <br/>
    <button class="btn btn-info">Güncelle</button>
}